<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerOn Academia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
</head>
<body>

<header>
    <div class="header-container">
        <div class="logo-container">
            <img src="../static/icon.png" alt="Ícone da Academia PowerOn" class="logo">
            <img src="../static/Logo.png" alt="Logo Academia PowerOn" class="logo-texto">
        </div>
        <nav>
            <a href="{{ url_for('cidades_router') }}">Cidades</a>
            <a href="{{ url_for('alunos_router') }}" class="active">Alunos</a>
            <a href="{{ url_for('professores_router') }}">Professores</a>
            <a href="{{ url_for('modalidades_router') }}">Modalidades</a>
            <a href="{{ url_for('matriculas_router') }}">Matrículas</a>
            <a href="{{ url_for('relatorio_router') }}">Relatórios</a>
        </nav>
    </div>
</header>

<main class="container">
    <div class="content-box">

        <h2>Gestão de Alunos</h2>

        <h3>Cadastrar Novo Aluno</h3>
        <form id="alunos-form" action="https://localhost:8080/alunos/cadastrar_aluno" method="POST">
            <div class="form-group">
                <label for="aluno-codigo">Código:</label>
                <input type="number" id="aluno-codigo" name="aluno-codigo" required>
            </div>
            <div class="form-group form-group-large">
                <label for="aluno-nome">Nome Completo:</label>
                <input type="text" id="aluno-nome" name="aluno-nome" required>
            </div>
            <div class="form-group">
                <label for="aluno-cidade">Cidade:</label>
                <select id="aluno-cidade" name="aluno-cidade" required>
                    <option value="" disabled selected>Selecione...</option>
                </select>
            </div>
            <div class="form-group">
                <label for="aluno-nascimento">Data de Nascimento:</label>
                <input type="date" id="aluno-nascimento" name="aluno-nascimento" required>
            </div>
            <div class="form-group">
                <label for="aluno-peso">Peso (kg):</label>
                <input type="number" id="aluno-peso" name="aluno-peso" step="0.1" required>
            </div>
            <div class="form-group">
                <label for="aluno-altura">Altura (m):</label>
                <input type="number" id="aluno-altura" name="aluno-altura" step="0.01" required>
            </div>
            <div class="form-group-full">
                <button type="submit" class="btn btn-primary">Salvar Aluno</button>
            </div>
        </form>

        <hr>

        <h3>Consultar e Listar Alunos</h3>
        <div class="area-busca">
            <input type="number" id="busca" placeholder="Buscar por Código">
            <button id="btn-buscar">Buscar</button>
        </div>
        <div id="resultado-busca-aluno" class="resultado-destaque hidden"></div>

        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Cód.</th>
                    <th>Nome</th>
                    <th>Cidade</th>
                    <th>Nascimento</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody id="alunos-tbody"></tbody>
            </table>
        </div>
    </div>
</main>

<footer>
    <p>Trabalho Prático - Estruturas de Arquivos Indexados &copy; 2025</p>
</footer>

<script>

    function carregarCidadesEmSelect(selectId) {
            const selectElement = document.getElementById(selectId);
            if (!selectElement) return;

            selectElement.innerHTML =
                '<option value="" disabled selected>Selecione...</option>';
            fetch("cidades/leitura_exaustiva").then(resp => resp.json()).then((data) => {
                data.forEach((cidade) => {
                    selectElement.innerHTML += `<option value="${cidade.codigo}">${cidade.descricao} - ${cidade.estado}</option>`;
                });
            })
    }

    const alunosPage = document.getElementById("alunos-form");
        if (alunosPage) {
            const alunosTbody = document.getElementById("alunos-tbody");
            const btnBuscar = document.getElementById("btn-buscar");

            function renderizarAlunos() {
                alunosTbody.innerHTML = "";
                fetch("/alunos/buscar_todos", {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        data.forEach((aluno) => {
                            const dataNasc = aluno.dataNascimento
                                ? formatDateLocal(aluno.dataNascimento)
                                : "Data não informada";
                            alunosTbody.innerHTML += `
                    <tr>
                        <td>${aluno.codigo}</td>
                        <td>${aluno.nome}</td>
                        <td>${aluno.cidade}</td>
                        <td>${dataNasc}</td>
                        <td class="action-buttons">
                            <button class="btn-info" data-id="${
                                aluno.codigo
                            }" title="Ver IMC">📊</button>
                            <button class="btn-delete" data-id="${
                                aluno.codigo
                            }" title="Excluir">🗑️</button>
                        </td>
                    </tr>`;
                        });
                    })
                    .catch(error => console.error("Erro:", error));
            }

            //Cadastrar alunos
            alunosPage.addEventListener("submit", (e) => {
                e.preventDefault();
                const formElements = e.target.elements;
                const codigo = parseInt(formElements["aluno-codigo"].value);
                const resultadoDiv = document.getElementById("resultado-busca-aluno");
                const novoAluno = {
                    codigo,
                    nome: formElements["aluno-nome"].value,
                    codigo_cidade: parseInt(formElements["aluno-cidade"].value),
                    nascimento: formElements["aluno-nascimento"].value,
                    peso: parseFloat(formElements["aluno-peso"].value),
                    altura: parseFloat(formElements["aluno-altura"].value),
                };
                fetch("/alunos/cadastrar_aluno", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(novoAluno)
                })
                    .then(async response => {
                            const data = await response.json();
                            if (!response.ok) {
                                resultadoDiv.classList.remove("hidden");
                                resultadoDiv.innerHTML = `❌ ${data.erro}`;
                                throw new Error(data.erro);
                            }
                            const lista = document.getElementById("lista-cidades");
                            data.forEach(cidade => {
                                const li = document.createElement("li");
                                li.textContent = `${cidade.codigo} - ${cidade.descricao} (${cidade.estado})`;
                                lista.appendChild(li);
                            });
                        }
                    ).catch(error => console.error("Erro:", error));
                alunosPage.reset();
                renderizarAlunos();
            });

            //Buscar alunos
            btnBuscar.addEventListener("click", () => {
                const id = parseInt(document.getElementById("busca").value);
                const resultadoDiv = document.getElementById("resultado-busca-aluno");
                let aluno;
                resultadoDiv.classList.remove("hidden");
                fetch(`/alunos/buscar_aluno_por_codigo?codigo=${id}`, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        aluno = data;
                        if (aluno) {
                            resultadoDiv.innerHTML = `
                    <strong> Aluno Encontrado:</strong><br>
                    <strong>Código:</strong> #${aluno.aluno.codigo} - ${aluno.aluno.nome}<br>
                    <strong>Cidade:</strong> ${aluno.cidade.nome} - ${aluno.cidade.estado}<br>
                    <strong>Diagnóstico Corporal:</strong> ${aluno.imc}
                `;
                        } else {
                            resultadoDiv.innerHTML = `❌ Aluno com código #${
                                id || "inválido"
                            } não encontrado.`;
                        }
                    })
                    .catch(error => console.error("Erro:", error));
            });

            alunosTbody.addEventListener("click", (e) => {
                const button = e.target.closest("button");
                if (!button) return;
                const id = parseInt(button.dataset.id);

                if (button.matches(".btn-delete")) {
                    fetch(`/alunos/apagar_alunos_por_codigo?codigo=${id}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                    })
                        .then(data => {
                            renderizarAlunos();
                        })
                        .catch(error => console.error("Erro:", error));
                }
                if (button.matches(".btn-info")) {
                    fetch(`/alunos/calcular_imc?codigo=${id}`, {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json"
                        },
                    })
                        .then(async data => {
                            const aluno = await data.json();
                            alert(
                                `Diagnóstico para ${aluno.nome}:\n${aluno.imc}`
                            );
                        })
                        .catch(error => console.error("Erro:", error));
                }
            });

            carregarCidadesEmSelect("aluno-cidade");
            renderizarAlunos();
        }

        function formatDateLocal(iso) {
            if (!iso) return '';
            const [year, month, day] = iso.split('-');
            return new Date(year, month - 1, day).toLocaleDateString('pt-BR');
        }
</script>
</body>
</html>