<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerOn Academia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
</head>
<body>

     <header>
        <div class="header-container">
            <div class="logo-container">
                <img src="../static/icon.png" alt="Ícone da Academia PowerOn" class="logo">
                <img src="../static/Logo.png" alt="Logo Academia PowerOn" class="logo-texto">
            </div>
            <nav>
                <a href="{{ url_for('cidades_router') }}" class="active">Cidades</a>
                <a href="{{ url_for('alunos_router') }}">Alunos</a>
                <a href="{{ url_for('professores_router') }}">Professores</a>
                <a href="{{ url_for('modalidades_router') }}">Modalidades</a>
                <a href="{{ url_for('matriculas_router') }}">Matrículas</a>
                <a href="{{ url_for('relatorio_router') }}">Relatórios</a>
            </nav>
        </div>
    </header>

    <main class="container">
        <div class="content-box">
            <h2>Gestão de Cidades</h2>
           
            <h3>Cadastrar Nova Cidade</h3>
            <form id="cidades-form">
                <div class="form-group">
                    <label for="cidade-codigo">Código:</label>
                    <input type="number" id="cidade-codigo" name="cidade-codigo" required>
                </div>
                <div class="form-group form-group-large">
                    <label for="cidade-descricao">Descrição:</label>
                    <input type="text" id="cidade-descricao" name="cidade-descricao" required>
                </div>
                <div class="form-group">
                    <label for="cidade-estado">UF:</label>
                    <input type="text" id="cidade-estado" name="cidade-estado" required maxlength="2">
                </div>
                <div class="form-group-full">
                    <button type="submit" class="btn btn-primary">Salvar Cidade</button>
                </div>
            </form>

            <hr>

            <h3>Consultar e Listar Cidades</h3>
            <div class="area-busca">
                <input type="number" id="busca" placeholder="Buscar por Código">
                <button id="btn-buscar">Buscar</button>
            </div>
            <div id="resultado-busca-cidade" class="resultado-destaque hidden"></div>
            
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Cód.</th>
                            <th>Descrição</th>
                            <th>UF</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="cidades-tbody"></tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>
        <p>Trabalho Prático - Estruturas de Arquivos Indexados &copy; 2025</p>
    </footer>

    <script>

        const cidadesPage = document.getElementById("cidades-form");
        if (cidadesPage) {
            const cidadesTbody = document.getElementById("cidades-tbody");
            const btnBuscar = document.getElementById("btn-buscar");

            function renderizarCidades() {
                cidadesTbody.innerHTML = "";
                fetch(`/cidades/leitura_exaustiva`, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    },
                }).then(response => response.json()).then((data) => {
                    data.forEach((cidade) => {
                        cidadesTbody.innerHTML += `
                    <tr>
                        <td>${cidade.codigo}</td>
                        <td>${cidade.descricao}</td>
                        <td>${cidade.estado}</td>
                        <td class="action-buttons">
                            <button class="btn-delete" data-id="${cidade.codigo}" title="Excluir">🗑️</button>
                        </td>
                    </tr>`;
                    });
                })
                    .catch(error => console.error("Erro:", error));
            }

            //Cadastrar cidades
            cidadesPage.addEventListener("submit", (e) => {
                e.preventDefault();
                const formElements = e.target.elements;
                const codigo = parseInt(formElements["cidade-codigo"].value);
                const resultadoDiv = document.getElementById("resultado-busca-cidade");
                resultadoDiv.classList.remove("hidden");
                const novaCidade = {
                    codigo,
                    descricao: formElements["cidade-descricao"].value,
                    estado: formElements["cidade-estado"].value.toUpperCase(),
                };
                resultadoDiv.innerHTML = '';
                fetch("/cidades/cadastrar_cidade", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(novaCidade)
                })
                    .then(async response => {
                        const data = await response.json();
                        if (!response.ok) {
                            resultadoDiv.innerHTML = `❌ Cidade com código #${
                                codigo || "inválido"
                            } já existe.`;
                            throw new Error(data.erro);
                        }
                        cidadesPage.reset();
                        renderizarCidades();
                    })
                    .catch(error => {
                        console.error("Erro:", error);
                    });
            });

            //Buscar cidades
            btnBuscar.addEventListener("click", () => {
                const id = parseInt(document.getElementById("busca").value);
                const resultadoDiv = document.getElementById("resultado-busca-cidade");
                resultadoDiv.classList.remove("hidden");
                fetch(`/cidades/buscar_cidade_por_codigo?codigo=${id}`, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        const cidade = data;
                        if (cidade) {
                            resultadoDiv.innerHTML = `
                        <strong> Cidade Encontrada:</strong><br>
                        <strong>Código:</strong> #${cidade.codigo}<br>
                        <strong>Descrição:</strong> ${cidade.descricao}<br>
                        <strong>Estado:</strong> ${cidade.estado}
                    `;
                        } else {
                            resultadoDiv.innerHTML = `❌ Aluno com código #${
                                id || "inválido"
                            } não encontrado.`;
                        }
                    })
                    .catch(error => console.error("Erro:", error));
            });

            cidadesTbody.addEventListener("click", (e) => {
                const deleteButton = e.target.closest(".btn-delete");
                if (deleteButton) {
                    const id = parseInt(deleteButton.dataset.id);
                    fetch(`/cidades/apagar_cidades_por_codigo?codigo=${id}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                    })
                        .then(data => {
                            renderizarCidades();
                        })
                        .catch(error => console.error("Erro:", error));
                }
            });

            renderizarCidades();
        }
    </script>
</body>
</html>