<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('alunos_router') }}">Alunos</a></li>
        <li><a href="{{ url_for('cidades_router') }}">Cidades</a></li>
        <li><a href="{{ url_for('matriculas_router') }}">Matrículas</a></li>
        <li><a href="{{ url_for('modalidades_router') }}">Modalidades</a></li>
        <li><a href="{{ url_for('professores_router') }}">Professores</a></li>
    </ul>
</nav>
</body>
</html>