<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerOn Academia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
</head>
<body>

     <header>
        <div class="header-container">
            <div class="logo-container">
                <img src="../static/icon.png" alt="Ícone da Academia PowerOn" class="logo">
                <img src="../static/Logo.png" alt="Logo Academia PowerOn" class="logo-texto">
            </div>
            <nav>
                <a href="{{ url_for('cidades_router') }}">Cidades</a>
                <a href="{{ url_for('alunos_router') }}">Alunos</a>
                <a href="{{ url_for('professores_router') }}" class="active">Professores</a>
                <a href="{{ url_for('modalidades_router') }}">Modalidades</a>
                <a href="{{ url_for('matriculas_router') }}">Matrículas</a>
                <a href="{{ url_for('relatorio_router') }}">Relatórios</a>
            </nav>
        </div>
    </header>

    <main class="container">
        <div class="content-box">
           
            <h2>Gestão de Professores</h2>
              
            <h3>Cadastrar Novo Professor</h3>
            <form id="professores-form">
                <div class="form-group">
                    <label for="professor-codigo">Código:</label>
                    <input type="number" id="professor-codigo" name="professor-codigo" required>
                </div>
                <div class="form-group form-group-large">
                    <label for="professor-nome">Nome Completo:</label>
                    <input type="text" id="professor-nome" name="professor-nome" required>
                </div>
                <div class="form-group form-group-large">
                    <label for="professor-endereco">Endereço:</label>
                    <input type="text" id="professor-endereco" name="professor-endereco" required>
                </div>
                <div class="form-group">
                    <label for="professor-telefone">Telefone:</label>
                    <input type="tel" id="professor-telefone" name="professor-telefone" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="professor-cidade">Cidade:</label>
                    <select id="professor-cidade" name="professor-cidade" required>
                        <option value="" disabled selected>Selecione...</option>
                        </select>
                </div>
                <div class="form-group-full">
                   <button type="submit" class="btn btn-primary">Salvar Professor</button>
                </div>
            </form>

            <hr>

            <h3>Consultar e Listar Professores</h3>
            <div class="area-busca">
                <input type="number" id="busca" placeholder="Buscar por Código">
                <button id="btn-buscar">Buscar</button>
            </div>
            <div id="resultado-busca-professor" class="resultado-destaque hidden"></div>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Cód.</th>
                            <th>Nome</th>
                            <th>Endereço</th>
                            <th>Telefone</th>
                            <th>Cidade</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="professores-tbody">
                        </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>
        <p>Trabalho Prático - Estruturas de Arquivos Indexados &copy; 2025</p>
    </footer>

    <script>

         function carregarCidadesEmSelect(selectId) {
            const selectElement = document.getElementById(selectId);
            if (!selectElement) return;

            selectElement.innerHTML =
                '<option value="" disabled selected>Selecione...</option>';
            fetch("cidades/leitura_exaustiva").then(resp => resp.json()).then((data) => {
                data.forEach((cidade) => {
                    selectElement.innerHTML += `<option value="${cidade.codigo}">${cidade.descricao} - ${cidade.estado}</option>`;
                });
            })
        }

        const professoresPage = document.getElementById("professores-form");
        if (professoresPage) {
            const professoresTbody = document.getElementById("professores-tbody");
            const btnBuscar = document.getElementById("btn-buscar");

            function renderizarProfessores() {
                professoresTbody.innerHTML = "";
                fetch(`/professores/listar_todos`, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    },
                }).then(response => response.json()).then((data) => {
                    data.forEach((professor) => {
                        professoresTbody.innerHTML += `
                    <tr>
                        <td>${professor.codigo}</td>
                        <td>${professor.nome}</td>
                        <td>${professor.endereco}</td>
                        <td>${professor.telefone}</td>
                        <td>${professor.cidade}</td>
                        <td class="action-buttons">
                            <button class="btn-delete" data-id="${professor.codigo}" title="Excluir">🗑️</button>
                        </td>
                    </tr>`;
                    })
                });
            }
            //Cadastrar Professores
            professoresPage.addEventListener("submit", (e) => {
                e.preventDefault();
                const formElements = e.target.elements;
                const codigo = parseInt(formElements["professor-codigo"].value);
                const resultadoDiv = document.getElementById("resultado-busca-professor");
                resultadoDiv.classList.remove("hidden");
                const novoProfessor = {
                    codigo,
                    nome: formElements["professor-nome"].value,
                    endereco: formElements["professor-endereco"].value,
                    telefone: formElements["professor-telefone"].value,
                    codigo_cidade: parseInt(formElements["professor-cidade"].value),
                };
                fetch("/professores/cadastrar_profesor", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(novoProfessor)
                })
                    .then(async response => {
                        const data = await response.json();
                        if (!response.ok) {
                            resultadoDiv.innerHTML = `❌ Professor com código #${
                                codigo || "inválido"
                            } já existe.`;
                            throw new Error(data.erro);
                        }
                        professoresPage.reset();
                        renderizarProfessores();
                    })
                    .catch(error => {
                        console.error("Erro:", error);
                    });
            });

            //Busca Professores
            btnBuscar.addEventListener("click", () => {
                const id = parseInt(document.getElementById("busca").value);
                let professor;
                const resultadoDiv = document.getElementById("resultado-busca-professor");
                resultadoDiv.classList.remove("hidden");

                fetch(`/professores/buscar_professor_por_codigo?codigo=${id}`, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        professor = data
                        if (professor) {
                            resultadoDiv.innerHTML = `
                    <strong> Professor Encontrado:</strong><br>
                    <strong>Código:</strong> #${professor.professor.codigo} - ${professor.professor.nome}<br>
                    <strong>Endereço:</strong> ${professor.professor.endereco}<br>
                    <strong>Telefone:</strong> ${professor.professor.telefone}<br>
                    <strong>Cidade:</strong> ${professor.cidade.nome} - ${professor.cidade.estado}
                 `;
                        } else {
                            resultadoDiv.innerHTML = `❌ Professor com código #${
                                id || "inválido"
                            } não encontrado.`;
                        }
                    });
            });

            professoresTbody.addEventListener("click", (e) => {
                const deleteButton = e.target.closest(".btn-delete");
                if (deleteButton) {
                    const id = parseInt(deleteButton.dataset.id);
                    fetch(`/professores/apagar_profesor_por_codigo?codigo=${id}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                    })
                        .then(data => {
                            renderizarProfessores();
                        })
                        .catch(error => console.error("Erro:", error));
                }
            });

            carregarCidadesEmSelect("professor-cidade");
            renderizarProfessores();
        }
    </script>
</body>
</html>