<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerOn Academia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
</head>
<body>

     <header>
        <div class="header-container">
            <div class="logo-container">
                <img src="../static/icon.png" alt="Ícone da Academia PowerOn" class="logo">
                <img src="../static/Logo.png" alt="Logo Academia PowerOn" class="logo-texto">
            </div>
            <nav>
                <a href="{{ url_for('cidades_router') }}">Cidades</a>
                <a href="{{ url_for('alunos_router') }}">Alunos</a>
                <a href="{{ url_for('professores_router') }}" class="active">Professores</a>
                <a href="{{ url_for('modalidades_router') }}">Modalidades</a>
                <a href="{{ url_for('matriculas_router') }}">Matrículas</a>
                <a href="{{ url_for('alunos_router') }}">Relatórios</a>
            </nav>
        </div>
    </header>

    <main class="container">
        <div class="content-box">
           
            <h2>Gestão de Professores</h2>
              
            <h3>Cadastrar Novo Professor</h3>
            <form id="professores-form">
                <div class="form-group">
                    <label for="professor-codigo">Código:</label>
                    <input type="number" id="professor-codigo" name="professor-codigo" required>
                </div>
                <div class="form-group form-group-large">
                    <label for="professor-nome">Nome Completo:</label>
                    <input type="text" id="professor-nome" name="professor-nome" required>
                </div>
                <div class="form-group form-group-large">
                    <label for="professor-endereco">Endereço:</label>
                    <input type="text" id="professor-endereco" name="professor-endereco" required>
                </div>
                <div class="form-group">
                    <label for="professor-telefone">Telefone:</label>
                    <input type="tel" id="professor-telefone" name="professor-telefone" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="professor-cidade">Cidade:</label>
                    <select id="professor-cidade" name="professor-cidade" required>
                        <option value="" disabled selected>Selecione...</option>
                        </select>
                </div>
                <div class="form-group-full">
                   <button type="submit" class="btn btn-primary">Salvar Professor</button>
                </div>
            </form>

            <hr>

            <h3>Consultar e Listar Professores</h3>
            <div class="area-busca">
                <input type="number" id="busca" placeholder="Buscar por Código">
                <button id="btn-buscar">Buscar</button>
            </div>
            <div id="resultado-busca-professor" class="resultado-destaque hidden"></div>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Cód.</th>
                            <th>Nome</th>
                            <th>Endereço</th>
                            <th>Telefone</th>
                            <th>Cidade</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="professores-tbody">
                        </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>
        <p>Trabalho Prático - Estruturas de Arquivos Indexados &copy; 2025</p>
    </footer>

    <script src="../static/script.js"></script>
</body>
</html>