<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerOn Academia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
</head>
<body>

<header>
    <div class="header-container">
        <div class="logo-container">
            <img src="../static/icon.png" alt="Ícone da Academia PowerOn" class="logo">
            <img src="../static/Logo.png" alt="Logo Academia PowerOn" class="logo-texto">
        </div>
        <nav>
            <a href="{{ url_for('cidades_router') }}">Cidades</a>
            <a href="{{ url_for('alunos_router') }}">Alunos</a>
            <a href="{{ url_for('professores_router') }}">Professores</a>
            <a href="{{ url_for('modalidades_router') }}">Modalidades</a>
            <a href="{{ url_for('matriculas_router') }}">Matrículas</a>
            <a href="{{ url_for('relatorio_router') }}" class="active">Relatórios</a>
        </nav>
    </div>
</header>

<main class="container">
    <div class="content-box">
        <h2>Relatórios da Academia</h2>

        <h3>Faturamento por Modalidade</h3>
        <div class="area-busca">
            <input type="number" id="busca-relatorio" placeholder="Buscar por Código">
            <button id="btn-buscar">Buscar</button>
        </div>
        <div id="resultado-busca-modalidade" class="resultado-destaque hidden"></div>
    </div>

    <hr>

    <h3>Relatório Geral de Matrículas</h3>
    <form>
        <div class="form-group-full">
            <button type="button" class="btn btn-secondary" id="btn-relatorio-geral">Listar Matrículas</button>
        </div>
    </form>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Cód. Matrícula</th>
                <th>Nome do Aluno</th>
                <th>Cidade do Aluno</th>
                <th>Modalidade</th>
                <th>Professor</th>
                <th>Valor a Pagar</th>
            </tr>
            </thead>
            <tbody id="relatorioGeralTbody">
            </tbody>
        </table>
    </div>
    <div id="relatorio-geral-totais" class="resultado-destaque hidden" style="margin-top: 1.5rem;">
    </div>
    </div>
</main>

<footer>
    <p>Trabalho - Estruturas de Arquivos Indexados &copy; 2025</p>
</footer>

<script>
    function calcularFaturamentoModalidade(lista) {
        if (lista.length === 0)
            return 0;
        let soma = 0;
        lista.forEach(element => {
            soma += element.valorPagar;
        })
        return parseFloat(soma);
    }

    document.addEventListener("DOMContentLoaded", () => {
        const btnBuscar = document.getElementById("btn-buscar");
        const listarTodasMatriculas = document.getElementById("btn-relatorio-geral");
        const resultadoDiv = document.getElementById("resultado-busca-modalidade");
        const tabela = document.getElementById("relatorioGeralTbody");
        const relatorioGeral = document.getElementById("relatorio-geral-totais");

        if (btnBuscar && resultadoDiv) {
            btnBuscar.addEventListener("click", () => {
                const id = parseInt(document.getElementById("busca-relatorio").value);
                resultadoDiv.classList.remove("hidden");

                if (isNaN(id)) {
                    resultadoDiv.classList.remove("hidden");
                    resultadoDiv.innerHTML = "⚠️ Informe um código válido.";
                    return;
                }

                fetch(`/relatorio/listar-relatorio-modalidades?codigo=${id}`, {
                    method: "GET",
                    headers: {"Content-Type": "application/json"}
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Erro na resposta da API");
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data) {
                            resultadoDiv.innerHTML = '';
                            resultadoDiv.innerHTML = `
                            <h4>📊 Relatório de Modalidade</h4>
                            <p>Modalidade: ${data.modalidade}</p>
                            <p>Cidade: ${data.professor}</p>
                            <p>Professor: ${data.cidadeProfessor}</p>
                            <p>Valor Faturado: ${data.valorFaturado}</p>
                        `;
                        } else {
                            resultadoDiv.innerHTML = `❌ Nenhum relatório encontrado para o código <strong>#${id}</strong>.`;
                        }
                    })
                    .catch(error => {
                        console.error("Erro ao buscar relatório:", error);
                        resultadoDiv.innerHTML = "❌ Erro ao buscar relatório.";
                    });
            });
        }

        if (listarTodasMatriculas && resultadoDiv) {
            listarTodasMatriculas.addEventListener("click", (event) => {
                relatorioGeral.classList.remove("hidden");
                relatorioGeral.innerHTML = "⏳ Buscando relatório...";
                fetch(`/relatorio/listar-relatorio-matriculas`, {
                    method: "GET",
                    headers: {"Content-Type": "application/json"}
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Erro na resposta da API");
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data && data.matriculas.length > 0) {
                            tabela.innerHTML = '';
                            data.matriculas.forEach((matricula) => {

                                tabela.innerHTML += `
                    <tr>
                        <td>${matricula.codigo}</td>
                        <td>${matricula.nomeAluno}</td>
                        <td>${matricula.cidadeAluno}</td>
                        <td>${matricula.modalidade}</td>
                        <td>${matricula.professor}</td>
                        <td>${matricula.valorPagar}</td>
                    </tr>`;
                            })
                            relatorioGeral.innerHTML = `
                                <p>Quantidade de Matriculas: ${data.qtdAlunos}</p>
                                <p>Valor total: R$ ${calcularFaturamentoModalidade(data.matriculas)}</p>
                            `
                        } else {
                            resultadoDiv.innerHTML = `❌ Nenhuma matricula encontrada!.`;
                        }
                    })
                    .catch(error => {
                        console.error("Erro ao buscar relatório:", error);
                        resultadoDiv.innerHTML = "❌ Erro ao buscar relatório.";
                    });
            })
        }
    });
</script>
</body>
</html>